<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/login.css">
</head>
<body>
    <div id="app">
        <section class="wrapper">
            <h1 class="registry__title">Registro de usuario</h2>
                <div v-show="show">
                    <p class="registry__description">Llena los campos con la información requerida</p>
                    <div class="registry__container">
                        <form name="form" v-on:submit.prevent="validar()">
                            <label class="form__label">Nombres(s)<span class="form__required">*</span></label>
                            <input class="form__input" type="text" name="name" v-model="user.name">
                            <label class="form__label">Correo eléctronico<span class="form__required">*</span></label>
                            <input class="form__input" type="mail" name="email" v-model="user.email">
                            <label class="form__label">Crear contraseña<span class="form__required">*</span></label>
                            <input class="form__input" type="password" name="password" v-model="user.password">
                            <label class="form__label">Confimar contraseña<span class="form__required">*</span></label>
                            <input class="form__input" type="password" name="confirm_password" v-model="user.confirm_password">
                            <label class="form__label__required">* Campo obligatorio</label>
                            <span class="form__error">{{ error }}</span>
                            <input class="registry__button__login" type="submit" value="Enviar">
                        </form>
                    </div>
                </div>
                <div v-show="!show" class="registry__description">
                    {{ success }}
                </div>
        </section>

    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>